// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.txt-error {
    color: red;
}

.navbar-brand {
    cursor: pointer;
}

.error-block {
    padding: 8px;
    border-radius: 2px;
    background: rgb(143, 67, 67);
    color: white;
}

img.profile-image {
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
    border: 1px solid gray;
}
